<div class="add-panel">
    <h1>Simplified Budget</h1>
    <custom-field data-role="budget" name="income" label="Budget Amount" value="0"></custom-field>
    <div class="add-expense">
        <custom-field data-role="expense" name="expense-name" label="Expense" value=""></custom-field>
        <custom-field data-role="amount" name="expense-amount" label="Amount" value=""></custom-field>
        <button name="add-expense-button" id="add-expense-button" class="add-expense-button">
            <img src="./images/plus.svg" alt="Plus" />
        </button>
    </div>
</div>